<section id="header">
  <div class="pp">
    <a href="/"><img
        src="img/Aretkart.png"
        width="140"
        height="60"
        class="logo"
        alt=""
      /></a>
  </div>
  <div>
    <ul id="navbar">
      <li><a href="/">HOME</a></li>
      <li><a href="/aboutus">ABOUT US</a></li>
      <li><a href="/shop1">DECOR</a></li>
      <li><a href="/gifting1">GIFTING</a></li>
      <li><a href="/blog">BLOG</a></li>
      <li><a href="/contact">CONTACT</a></li>
      <li><a href="/signup">LOGIN/SIGNUP</a></li>
      <li><a href="/cart1"><i><svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-bag"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"
              />
            </svg></i></a></li>
    </ul>
  </div>
</section>